*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    color: #333;
    overflow: hidden;
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #101c;
}

.wrapper {
    background: antiquewhite;
  
    /* background: #10e2; */
    width: 500px;
    height: 370px;
    border-radius: 10px;
     gap: 90px;
     padding: 20px;
}

.wrapper h1 {
    text-align: center;
    text-transform: capitalize;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 60px;
    margin: 10;
    color: palevioletred;
}

.form-input {
    text-align: center;
}

.form-input h2 {
    text-transform: capitalize;
    color: #667;
    font-size: 28px;
} 

.input-box h2 {
    text-align: right;
}

.input-box input {
    width: 70%;
    height: 25px;
    border-radius: 9px;
    border: 2px solid #101c;

}

.remember {
    align-items: center;
    position: relative;
    left: 200px;
    gap: 7px;
    display: flex;
}

.agree {
    align-items: center;
    position: relative;
    left: 70px;
    gap: 7px;
    display: flex;
}

.submit button {
    width: 70%;
    border-radius: 8px;
    height: 25px;
    cursor: pointer;
}